html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0; padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

div {
  outline: none;
  font-family: 'Loved by the King', arial, serif;
}

div.sticky {
  padding: 10px;
  min-width: 200px;
  min-height: 200px;
  background-color: #f2e7a2;
  position: absolute;
  font-family: 'Patrick Hand', arial, serif;
/*  -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);*/
}

.svgText {
/*  color: red;*/
  fill: green !important;
  font-size: 20px !important;
  font-family: 'Loved by the King', arial, serif !important;
/*  background-image: url(http://www.google.de/images/experiments/nav_logo78.png);*/
}

.svgRect {
/*  fill: red !important;*/
  stroke: red !important;
  
}

button {
  position: absolute;
  border: 1px solid red;
  margin: 0; padding: 10px;
}

#surface {
/*  background-image: url(/dist/bluprint.png);*/
/*  -webkit-background-size: 130px 130px;*/
/*  background-position: -5px -5px;*/
  
/*background-color:#269;*/
/*background-image: -webkit-gradient(linear, white 2px, transparent 2px), -webkit-gradient(linear, 0, white 2px, transparent 2px), -webkit-gradient(linear, rgba(255,255,255,.3) 1px, transparent 1px), -webkit-gradient(linear, 0, rgba(255,255,255,.3) 1px, transparent 1px);*/
/*-webkit-background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;*/
/*-webkit-background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;*/
  
/*  background-color:#269;
  background-image: -webkit-linear-gradient(white 2px, transparent 2px),
    -webkit-linear-gradient(0, white 2px, transparent 2px),
    -webkit-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    -webkit-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
  -webkit-background-size:120px 120px, 100px 100px, 20px 20px, 20px 20px;
  -webkit-background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
  */
  position: relative;
/*  border: 2px solid blue;*/
/*  left: 20px;*/
/*  top: 20px;*/

  overflow: hidden;
  width: 100%; 
  height: 100%;
/*  width: 500px; height: 300px;*/
  
  svg {
    position: absolute;
    width: 100%; height: 100%;
/*    display: none;*/
  }
  
  .viewport {
    -webkit-transform-origin: 0 0;
    position: absolute;
/*    -webkit-transform: translate(-20px, 20px);*/
/*    -moz-transform: scale(2.5, 2) translate(20.5px, 20px);*/
  }
}

space {
  position: absolute;
/*  display: inline-block;*/
  border: 2px solid red;
  margin: 0; padding: 10px;
}

card {
  position: absolute;
  display: inline-block;
  margin: 0;
  width: 50px; height: 50px;
  background-color: green;
}